<div>
	<div *ngFor="let cell of cells">
		<div class="notebook-cell" (click)="selectCell(cell, $event)" [class.active]="cell.active">
			<cell-toolbar-component *ngIf="cell.active" [cellModel]="cell" [model]="model"></cell-toolbar-component>
			<code-cell-component *ngIf="cell.cellType === 'code'" [cellModel]="cell" [model]="model" [activeCellId]="activeCellId">
			</code-cell-component>
			<text-cell-component *ngIf="cell.cellType === 'markdown'" [cellModel]="cell" [model]="model" [activeCellId]="activeCellId">
			</text-cell-component>
		</div>
	</div>
	<div class="notebook-cell" *ngIf="(!cells || !cells.length) && !isLoading">
		<placeholder-cell-component [cellModel]="cell" [model]="model">
		</placeholder-cell-component>
	</div>
</div>
