src/**
out/**
tsconfig.json
extension.webpack.config.js
yarn.lock
.vscode
node_modules
!node_modules/ads-kerberos2/package.json
!node_modules/ads-kerberos2/LICENSE
!node_modules/ads-kerberos2/lib
!node_modules/ads-kerberos2/index.js
!node_modules/ads-kerberos2/build/Release/kerberos.node
