src/**
out/**
tsconfig.json
extension.webpack.config.js
yarn.lock
.vscode
node_modules
!node_modules/ads-kerberos/package.json
!node_modules/ads-kerberos/LICENSE
!node_modules/ads-kerberos/lib
!node_modules/ads-kerberos/index.js
!node_modules/ads-kerberos/build/Release/kerberos.node
