
out
node_modules
.vscode-test/
.vscode/dev.testfilter.json
*.vsix
.DS_Store
.idea
.rpt2_cache
test-reports/**

# Jupyter paths
wheels/**

# service paths
scaleoutdataservice/**

# python paths
python/**/**

# coverage folder
coverage/**