# Unwanted compiled files
out/test/**
*.vsix

# Build/Source files
src/**
test/**
typings/**
.gitignore
tsconfig.json
coverconfig.json
tslint.json

# Reference files
**/*.ts
**/*.map
.gitignore
tsconfig.json
extension.webpack.config.js
yarn.lock

# Python/Compressed files
python/*.tar.gz
python/*.zip

# Python/Compressed files
python/*.tar.gz
python/*.zip

