<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="msbuildToolsets" type="Microsoft.Build.Evaluation.ToolsetConfigurationSection, Microsoft.Build, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="system.drawing" type="System.Drawing.Configuration.SystemDrawingSection, System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="SqlColumnEncryptionEnclaveProviders" type="System.Data.SqlClient.SqlColumnEncryptionEnclaveProviderConfigurationSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="SqlAuthenticationProviders" type="System.Data.SqlClient.SqlAuthenticationProviderConfigurationSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <!-- SSMS-specific -->
    <appSettings>
        <!-- Enables support for detecting and resolving Azure Firewall connection failures when using the Connection dialog   -->
        <add key="FirewallRuleDetectionEnabled" value="true"/>
        <!-- When DPI Awareness (configured in manifest file) and this setting are both enabled, .NET framework will handle the scaling of the built-in controls
             e.g. property grid's sort button, cursors, toolstrip button's images and treeview's state image
        -->
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
        <!-- This entry allows /setup to run even if 4.6 is not available such as when 4.6
             is laid down with the install and not available the first time /setup is run. -->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <SqlAuthenticationProviders>
      <providers>
         <add name="active directory interactive" type="Microsoft.SqlServer.Management.UI.AadInteractiveAuthProvider.AadAuthenticationProvider, ConnectionDlg.AadInteractiveAuthProvider" /> 
      </providers>
    </SqlAuthenticationProviders>
    <SqlColumnEncryptionEnclaveProviders>
        <providers>
            <add name="VBS" type="Microsoft.SqlServer.Management.AlwaysEncrypted.EnclaveProviders.VirtualizationBasedSecurityEnclaveProvider, Microsoft.SqlServer.Management.AlwaysEncrypted.EnclaveProviders, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </providers>
    </SqlColumnEncryptionEnclaveProviders>
    <runtime>
        <AppLocalAutongenNGenDisabled enabled="1" />
        <NgenBind_OptimizeNonGac enabled="1" />
        <relativeBindForResources enabled="true" />
        <UseSmallInternalThreadStacks enabled="true" />
        <DisableMSIPeek enabled="true" />
        <!-- Switch.System.Drawing.DontSupportPngFramesInIcons=false; -->

        <!--SSMS-specific: all the overrides with the exception of
            Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness=false
            are SSMS-specific.

            Re: Switch.UseLegacyAccessibilityFeatures=false
            This switch is needed to leverage the accessibility fixes the WinForms team did.
            This can be removed once our target framework version is the 4.7.3 or higher
        -->
        <AppContextSwitchOverrides value="Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness=false;Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false" />
        <!-- These switches are no longer needed for the current target framework, but can be used to revert back to previous framework behaviors -->
        <!-- Switch.System.Drawing.DontSupportPngFramesInIcons -->
        <!-- Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness -->
        <!-- Switch.System.Net.DontEnableSchUseStrongCrypto -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Extensions\Application;PublicAssemblies;PrivateAssemblies;CommonExtensions\Platform;CommonExtensions\Microsoft\Editor;CommonExtensions\Platform\Debugger;Mashup"/>
            <dependentAssembly>
                <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.9.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.10.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.14.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VSDesigner" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.SdmDesigners" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.TypeSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Modeling" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Modeling.Diagrams" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Tools.Office.Designer.Office2007" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="9.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Tools.Office.Designer" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="10.0.0.0-99.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Tools.Office.Ribbon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="9.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.ConnectionUI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.ConnectionUI.Dialog" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Data.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.DataTools.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ReportingServices.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="9.0.242.0-14.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ReportingServices.Designer" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="9.0.242.0-14.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ReportingServices.QueryDesigners" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="9.0.242.0-14.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.LoadTest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.WebTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-15.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.LoadTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-15.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Vsip" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.CoreUtility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Editor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.VisualStudio.ExtensibilityHosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
              <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Language.Intellisense" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Language.StandardClassification" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="10.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Text.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Text.Logic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Text.UI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Text.UI.Wpf" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <!-- MEF v2 assemblies -->
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-1.0.65535.65535" newVersion="1.0.27.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-1.0.65535.65535" newVersion="1.0.27.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.DiaSymReader" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.DiaSymReader.PortablePdb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.GraphModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="11.0.0.0-14.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="12.0.0.0-15.3.0.0" newVersion="15.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="12.0.0.0-15.8.0.0" newVersion="15.8.0.0" />
            </dependentAssembly>

            <!-- VS MEF -->
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Composition" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="12.0.0.0-15.8.0.0" newVersion="15.8.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Composition.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="12.0.0.0-15.8.0.0" newVersion="15.8.0.0" />
            </dependentAssembly>
            <qualifyAssembly partialName="Microsoft.VisualBasic.Editor" fullName="Microsoft.VisualBasic.Editor,version=15.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
            <qualifyAssembly partialName="Microsoft.VisualStudio.VisualBasic.LanguageService" fullName="Microsoft.VisualStudio.VisualBasic.LanguageService,version=15.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />

            <!-- SSMS-specific binding redirections -->
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="10.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
          
            <!-- Query Tuning Advisor related binding redirections-->
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60"/>
              <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60"/>
              <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Dmf.Common" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ServiceBrokerEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.SmoMetadataProvider" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfoExtended" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.GridControl" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.SqlParser" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.SystemMetadataProvider" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.OlapEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.AzureStorageEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.RegSvrEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.PolicyEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SmoExtended" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.WmiEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SqlWmiManagement" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.Utility" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.UtilityEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.MultiServerConnection" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.RegisteredServers" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.Collector" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.CollectorEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.XEvent" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.XEventEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScoped" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScopedEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="microsoft.sqlserver.batchparser" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.BatchParserClient" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Diagnostics.STrace" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SqlTDiagM" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.SString" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.HadrDmf" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Dmf" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Dmf.Adapters" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.SqlWizardFramework" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlTools.Telemetry.Interop" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.HelpViewer" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ExceptionMessageBox" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.NetEnterpriseServers.ExceptionMessageBox" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.CustomControls" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.WizardFramework" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.DlgGrid" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.DataStorage" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Management.IntegrationServicesEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Rmo" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ReplEnum" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Replication" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.MaintenancePlanTasks" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.XEvent.Linq" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.XE.Core" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0" newVersion="15.100.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AnalysisServices.Controls" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0-15.1.0.0" newVersion="15.2.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AnalysisServices.Project" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0-15.1.0.0" newVersion="15.2.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.DataWarehouse" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0-15.1.0.0" newVersion="15.2.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.DataWarehouse.Interfaces" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0-15.1.0.0" newVersion="15.2.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.DataWarehouse.VsIntegration" publicKeyToken="89845dcd8080cc91"/>
                <bindingRedirect oldVersion="15.0.0.0-15.1.0.0" newVersion="15.2.0.0"/>
            </dependentAssembly>
          
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Microsoft.SqlServerCe.Client" />
            <remove invariant="Microsoft.SqlServerCe.Client.3.5" />
            <remove invariant="Microsoft.SqlServerCe.Client.4.0" />
            <add name="Microsoft SQL Server Compact 4.0 Client Data Provider" invariant="Microsoft.SqlServerCe.Client.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact 4.0 Client" type="Microsoft.SqlServerCe.Client.SqlCeClientFactory, Microsoft.SqlServerCe.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
            <add name="Microsoft Data Feed Provider" invariant="Microsoft.Data.DataFeedClient" description="Microsoft Data Feed Provider" type="Microsoft.Data.DataFeedClient.DataFeedProviderFactory, Microsoft.Data.DataFeedClient, Version=12.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </DbProviderFactories>
    </system.data>
    <system.net>
        <settings>
            <ipv6 enabled="true"/>
        </settings>
    </system.net>
    <!-- Necessary for loading up the new ico files -->
    <system.drawing bitmapSuffix=".VisualStudio.15.0" />
    <!-- Enhanced logging to help troubleshoot password loss issues -->
    <system.diagnostics>
        <sources>
            <source name="UserSettings" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
                <listeners>
                    <add name="logFile" type="Microsoft.SqlServer.Diagnostics.STrace.LogFileTraceListener,&#xD;&#xA;                        Microsoft.SqlServer.Diagnostics.STrace, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
                        logPath="%TEMP%\SSMS\" encrypt="false" >
                    </add>
                </listeners>
            </source>
       </sources>
       <switches>
           <add name="SourceSwitch" value="Verbose" />
       </switches>
       <trace autoflush="true" indentsize="2" useGlobalLock="false"></trace>
    </system.diagnostics>
</configuration>

