
input[type="radio"] {
  margin-top: -2px;
  vertical-align: middle;
}

.chart-viewer {
	overflow-y: auto;
}
.chart-viewer .indent {
	margin-left: 7px;
}

.chart-viewer .radio-indent {
	margin-left: 5px;
}

.chart-viewer .option {
	width: 100%;
	padding-bottom: 7px;
}

.chart-viewer .dialog-label {
	width: 100%;
	padding-bottom: 5px;
}

.chart-viewer .input-divider {
	width: 100%;
	padding-bottom: 20px;
}

.chart-viewer .footer {
	display: flex;
}

.chart-viewer .footer .right-footer {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
}

.chart-viewer .footer-button a.monaco-button.monaco-text-button {
	width: 100px;
}

.vs-dark.monaco-shell .chart-viewer .footer-button a.monaco-button.monaco-text-button {
	outline-color: #8e8c8c;
}
.chart-viewer .footer-button {
	margin-right: 5px;
}

.chart-viewer .right-footer .footer-button:last-of-type {
	margin-right: none;
}