<div #taskbarContainer></div>
<div style="display: flex; flex-flow: row; overflow: hidden; height: 100%; width: 100%">
	<div style="flex:3 3 auto; margin: 5px; overflow: scroll">
		<div style="position: relative; width: calc(100% - 20px); height: calc(100% - 20px)">
			<ng-template component-host></ng-template>
		</div>
	</div>
	<div class="angular-modal-body-content chart-viewer" style="flex:1 1 auto; border-left: 1px solid; margin: 5px;">
		<div style="position: relative; width: 100%">
			<div class="dialog-label" for="chartType">{{localizedStrings.CHART_TYPE}}</div>
			<select-box #chartTypeSelect class="input-divider"
				id="chartType"
				[options]="insightRegistry.getAllIds()"
				[selectedOption]="getDefaultChartType()"
				[onlyEmitOnChange]="true"
				(onDidSelect)="onChartChanged($event)"></select-box>
			<ng-container [ngSwitch]="chartTypesSelectBox.value">
				<ng-container *ngSwitchCase="'line'">
					<ng-container *ngTemplateOutlet="lineInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'scatter'">
					<ng-container *ngTemplateOutlet="scatterInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'timeSeries'">
					<ng-container *ngTemplateOutlet="scatterInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'bar'">
					<ng-container *ngTemplateOutlet="barInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'horizontalBar'">
					<ng-container *ngTemplateOutlet="horizontalBarInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'pie'">
					<ng-container *ngTemplateOutlet="pieInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'doughnut'">
					<ng-container *ngTemplateOutlet="pieInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'count'">
					<ng-container *ngTemplateOutlet="countInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'image'">
					<ng-container *ngTemplateOutlet="imageInput"></ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'table'">
					<ng-container *ngTemplateOutlet="tableInput"></ng-container>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>

<!--
	count control interface
-->
<ng-template #countInput>
</ng-template>

<!--
	image control interface
-->
<ng-template #imageInput>
</ng-template>

<!--
	table control interface
-->
<ng-template #tableInput>
</ng-template>

<!--
	Line graph control interface
-->
<ng-template #lineInput>
	<ng-container *ngTemplateOutlet="dataTypeInput"></ng-container>
	<ng-template [ngIf]="showDataDirection">
		<ng-container *ngTemplateOutlet="dataDirectionInput"></ng-container>
	</ng-template>
	<ng-template [ngIf]="showColumnsAsLabels">
		<ng-container *ngTemplateOutlet="columnsAsLabelsInput"></ng-container>
	</ng-template>
	<ng-template [ngIf]="showLabelFirstColumn">
		<ng-container *ngTemplateOutlet="labelFirstColumnInput"></ng-container>
	</ng-template>
	<ng-container *ngTemplateOutlet="yAxisLabelInput"></ng-container>
	<ng-container *ngTemplateOutlet="xAxisLabelInput"></ng-container>
	<ng-container *ngTemplateOutlet="legendInput"></ng-container>
</ng-template>

<!--
	scatter graph control interface
-->
<ng-template #scatterInput>
	<ng-container *ngTemplateOutlet="legendInput"></ng-container>
	<ng-container *ngTemplateOutlet="yAxisLabelInput"></ng-container>
	<ng-container *ngTemplateOutlet="xAxisLabelInput"></ng-container>
</ng-template>

<!--
	bar graph control interface
-->
<ng-template #barInput>
	<ng-container *ngTemplateOutlet="dataDirectionInput"></ng-container>
	<ng-template [ngIf]="showColumnsAsLabels">
		<ng-container *ngTemplateOutlet="columnsAsLabelsInput"></ng-container>
	</ng-template>
	<ng-template [ngIf]="showLabelFirstColumn">
		<ng-container *ngTemplateOutlet="labelFirstColumnInput"></ng-container>
	</ng-template>
	<ng-container *ngTemplateOutlet="legendInput"></ng-container>
	<ng-container *ngTemplateOutlet="yAxisLabelInput"></ng-container>
	<ng-container *ngTemplateOutlet="yAxisMinMaxInput"></ng-container>
	<ng-container *ngTemplateOutlet="xAxisLabelInput"></ng-container>
</ng-template>

<!--
	Horizontal bar graph control interface
-->
<ng-template #horizontalBarInput>
		<ng-container *ngTemplateOutlet="dataDirectionInput"></ng-container>
		<ng-template [ngIf]="showColumnsAsLabels">
			<ng-container *ngTemplateOutlet="columnsAsLabelsInput"></ng-container>
		</ng-template>
		<ng-template [ngIf]="showLabelFirstColumn">
			<ng-container *ngTemplateOutlet="labelFirstColumnInput"></ng-container>
		</ng-template>
		<ng-container *ngTemplateOutlet="legendInput"></ng-container>
		<ng-container *ngTemplateOutlet="xAxisLabelInput"></ng-container>
		<ng-container *ngTemplateOutlet="xAxisMinMaxInput"></ng-container>
		<ng-container *ngTemplateOutlet="yAxisLabelInput"></ng-container>
	</ng-template>

<!--
	Pie graph control interface
-->
<ng-template #pieInput>
	<ng-container *ngTemplateOutlet="dataDirectionInput"></ng-container>
	<ng-template [ngIf]="showColumnsAsLabels">
		<ng-container *ngTemplateOutlet="columnsAsLabelsInput"></ng-container>
	</ng-template>
	<ng-template [ngIf]="showLabelFirstColumn">
		<ng-container *ngTemplateOutlet="labelFirstColumnInput"></ng-container>
	</ng-template>
	<ng-container *ngTemplateOutlet="legendInput"></ng-container>
</ng-template>

<!--
	Legend Input Control interface
	Valid for any charting type, i.e not image/count
-->
<ng-template #legendInput>
	<div class="dialog-label" for="legend">{{localizedStrings.LEGEND}}</div>
	<select-box class="input-divider"
		id="legend"
		[options]="legendOptions"
		[selectedOption]="_chartConfig.legendPosition"
		[onlyEmitOnChange]="true"
		(onDidSelect)="setConfigValue('legendPosition', $event.selected)"></select-box>
</ng-template>

<!--
	Data type input control interface
	point vs number data type, only valid for the line chart type
-->
<ng-template #dataTypeInput>
	<div class="dialog-label" id="dataTypeLabel">{{localizedStrings.DATA_TYPE}}</div>
	<div class="radio-indent" role="radiogroup" aria-labelledby="dataTypeLabel">
		<div class="option">
			<input type="radio" role="radio" name="data-type" value="number" [(ngModel)]="dataType" aria-labelledby="numberLabel"><span id="numberLabel">{{localizedStrings.NUMBER}}</span>
		</div>
		<div class="option">
			<input type="radio" role="radio" name="data-type" value="point" [(ngModel)]="dataType" aria-labelledby="pointLabel"><span id="pointLabel">{{localizedStrings.POINT}}</span>
		</div>
	</div>
</ng-template>

<!--
	Data direction input control
	vertical vs horizontal, change which direction is considered a "series" of data
	only valid for pie, bar, doughnut charts and line is numbr is the data type
	otherwise the direction is assumed for each other type
-->
<ng-template #dataDirectionInput>
	<div class="dialog-label" for="dataDirection">{{localizedStrings.DATA_DIRECTION}}</div>
	<select-box
		id="dataDirection"
		[options]="['vertical', 'horizontal']"
		selectedOption="vertical"
		[onlyEmitOnChange]="true"
		(onDidSelect)="setConfigValue('dataDirection', $event.selected)"></select-box>
</ng-template>

<!--
	Control for specifing if the first column should be used to label the series
	Only valid for data direction = horizontal
-->
<ng-template #labelFirstColumnInput>
	<checkbox class="input-divider" [label]="localizedStrings.LABEL_FIRST_COLUMN" (onChange)="setConfigValue('labelFirstColumn', $event)"></checkbox>
</ng-template>

<!--
	Control whether to use column names as series labels
	Only valid for data direction = vertical
-->
<ng-template #columnsAsLabelsInput>
	<checkbox class="input-divider" [label]="localizedStrings.COLUMNS_AS_LABELS" (onChange)="setConfigValue('columnsAsLabels', $event)"></checkbox>
</ng-template>

<!--
	Y-Axis options controls
	valid for any charting value
-->
<ng-template #yAxisLabelInput>
	<span>
		{{localizedStrings.Y_AXIS_LABEL}}
		<input-box (onDidChange)="setConfigValue('yAxisLabel', $event)"></input-box>
	</span>
</ng-template>

<ng-template #yAxisMinMaxInput>
	<span>
		{{localizedStrings.Y_AXIS_MAX_VAL}}
		<input-box [type]="'number'" (onDidChange)="setConfigValue('yAxisMax', $event)"></input-box>
	</span>
	<span>
		{{localizedStrings.Y_AXIS_MIN_VAL}}
		<input-box [type]="'number'" (onDidChange)="setConfigValue('yAxisMin', $event)"></input-box>
	</span>
</ng-template>


<!--
	X-Axis options controls
	valid for any charting value
-->
<ng-template #xAxisLabelInput>
	<span>
		{{localizedStrings.X_AXIS_LABEL}}
		<input-box (onDidChange)="setConfigValue('xAxisLabel', $event)"></input-box>
	</span>
</ng-template>

<ng-template #xAxisMinMaxInput>
	<span>
		{{localizedStrings.X_AXIS_MAX_VAL}}
		<input-box [type]="'number'" (onDidChange)="setConfigValue('xAxisMax', $event)"></input-box>
	</span>
	<span>
		{{localizedStrings.X_AXIS_MIN_VAL}}
		<input-box [type]="'number'" (onDidChange)="setConfigValue('xAxisMin', $event)"></input-box>
	</span>
</ng-template>
