<div *ngIf="label" [class]="getClass()" (click)="onCardClick()" (mouseover)="onCardHoverChanged($event)" (mouseout)="onCardHoverChanged($event)">
	<span *ngIf="hasStatus" class="card-status">
		<div class="status-content" [style.backgroundColor]="statusColor"></div>
	</span>

		<ng-container *ngIf="isVerticalButton">
			<div class="card-vertical-button">
				<div *ngIf="iconPath" class="iconContainer">
					<div [class]="iconClass" [style.width]="iconWidth" [style.height]="iconHeight"></div>
				</div>
				<h4 class="card-label">{{label}}</h4>
			</div>
		</ng-container>

		<ng-container *ngIf="isDetailsCard">
				<div class="card-content">
					<h4 class="card-label">{{label}}</h4>
					<p class="card-value">{{value}}</p>
					<span *ngIf="actions">
						<table class="model-table">
							<tr *ngFor="let action of actions">
								<td class="table-row">{{action.label}}</td>
								<td *ngIf="action.actionTitle" class="table-row">
									<a class="pointer prominent" (click)="onDidActionClick(action)">{{action.actionTitle}}</a>
								</td>
							</tr>
						</table>
					</span>
			</div>
		</ng-container>

</div>