<div *ngIf="label" class="model-card">
	<span *ngIf="hasStatus" class="card-status">
		<div class="status-content" [style.backgroundColor]="statusColor"></div>
	</span>
	<div class="card-content">
		<h4 class="card-label">{{label}}</h4>
		<p class="card-value">{{value}}</p>
		<span *ngIf="actions">
			<table class="model-table">
				<tr *ngFor="let action of actions">
					<td class="table-row">{{action.label}}</td>
					<td *ngIf="action.actionTitle" class="table-row">
						<a class="pointer prominent" (click)="onDidActionClick(action)">{{action.actionTitle}}</a>
					</td>
				</tr>
			</table>
		</span>
	</div>
</div>