
.declarative-table {
	padding: 5px 30px 0px 30px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.declarative-table-row {
}

.declarative-table-header {
	padding: 5px;
	border: 1px solid gray;
	background-color: #F5F5F5;
	vertical-align: top;
}

.vs-dark .declarative-table-header {
	padding: 5px;
	border: 1px solid gray;
	background-color: #333334;
}

.hc-black .declarative-table-header {
	padding: 5px;
	border: 1px solid gray;
	background-color: #333334;
}

.declarative-table-cell {
	padding: 5px;
	border: 1px solid gray;
}

.declarative-table [role="gridcell"]:focus,
.declarative-table [role="gridcell"] *:focus,
.declarative-table [role="grid"] [tabindex="0"]:focus {
	outline: #005a9c;
	outline-style: dotted;
	outline-width: 3px;
}
