
.form-table {
	display: table;
	padding: 5px 30px 0px 30px;
	box-sizing: border-box;
}

.form-actions-table {
	display: table;
}

.form-row {
	display: table-row;
}

.form-item-row {
	padding-bottom: 5px;
}

.form-vertical-container {
	padding-bottom: 5px;
	width: 100%;
}

.form-cell {
	padding-bottom: 10px;
	padding-right: 5px;
	display: table-cell;
}

.form-component-container {
	display: flex;
	flex-direction: row;
}

.form-input-flex {
	flex: 1;
}

.form-required {
	color: red;
	padding-left: 5px;
}

.form-info {
	width: 15px;
	height: 15px;
}

.form-component-actions {
	padding-left: 5px;
}

.form-actions-cell {
	padding-top: 5px;
	padding-right: 5px;
	display: table-cell;
}

.form-group-label {
	padding-top: 3px;
	padding-bottom: 0px;
	font-weight: bold;
}
