.vs .modelview-loadingComponent-spinner {
	content: url("loading.svg");
}

.vs-dark .modelview-loadingComponent-spinner,
.hc-black .modelview-loadingComponent-spinner {
	content: url("loading_inverse.svg");
}

.modelview-loadingComponent-content-loading {
	display: none;
}