.modelview-loadingComponent-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.vs .modelview-loadingComponent-spinner {
	content: url("loading.svg");
}

.vs-dark .modelview-loadingComponent-spinner,
.hc-black .modelview-loadingComponent-spinner {
	content: url("loading_inverse.svg");
}

.modelview-loadingComponent-spinner {
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modelview-loadingComponent-content-loading {
	display: none;
}