.tree-component-node-tile {
	display: flex;
}

.tree-component-node-tile .model-view-tree-node-item-icon {
	width: 17px;
	height: 17px;
	flex-shrink: 0;
}

.tree-component-node-tile .model-view-tree-node-item-label {
	overflow: hidden;
	text-overflow: ellipsis;
}