/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header.ui-state-default, .slick-headerrow.ui-state-default, .slick-footerrow.ui-state-default  {
	width: 100%;
	overflow: hidden;
	border-left: 0px !important;
}

.slick-header-columns, .slick-headerrow-columns, .slick-footerrow-columns {
	position: relative;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
}

.slick-header-column.ui-state-default {
	position: relative;
	display: inline-block;
	/*box-sizing: content-box !important; use this for Firefox! */
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 28px;
	line-height: 16px;
	margin: 0;
	padding: 4px;
	border-right: 1px solid silver;
	border-left: 0px !important;
	border-top: 0px !important;
	border-bottom: 2px solid #bbb;
	float: left;
	background-color: #eee;
	box-sizing: border-box;
}

.slick-headerrow-column.ui-state-default, .slick-footerrow-column.ui-state-default {
	padding: 4px;
}

.slick-header-column-sorted {
	font-style: italic;
}

.slick-sort-indicator {
	display: inline-block;
	width: 8px;
	height: 5px;
	margin-left: 4px;
	margin-top: 6px;
	float: left;
}

.slick-sort-indicator-desc {
	background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
	background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 4px;
	right: 0px;
	top: 0;
	height: 100%;
}

.slick-sortable-placeholder {
	background: silver;
}

.grid-canvas {
	position: relative;
	outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
	position: absolute;
	border: 0px;
	width: 100%;
}

.slick-cell, .slick-headerrow-column , .slick-footerrow-column{
	position: absolute;
	border: 1px solid transparent;
	border-right: 1px dotted silver;
	border-bottom-color: silver;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;
	margin: 0;
	white-space: nowrap;
	cursor: default;
}

.slick-cell .grid-cell-value-container.missing-value {
	font-style: italic;
}

.slick-cell, .slick-headerrow-column{
	border-bottom-color: silver;
}
.slick-footerrow-column {
	border-top-color: silver;
}

.slick-group {
}

.slick-group-toggle {
	display: inline-block;
}

.slick-cell.highlighted {
	background: lightskyblue;
	background: rgba(0, 0, 255, 0.2);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.slick-cell.flashing {
	border: 1px solid red !important;
}

.slick-cell.editable {
	z-index: 11;
	overflow: visible;
	background: white;
	border-color: black;
	border-style: solid;
}

.slick-cell:focus {
	outline: none;
}

.slick-cell > .row-number {
	color: var(--color-content);
	font-style: italic;
	font-weight: lighter;
	display: flex;
	justify-content: flex-end;
}

.slick-reorder-proxy {
	display: inline-block;
	background: blue;
	opacity: 0.15;
	filter: alpha(opacity = 15);
	cursor: move;
}

.slick-reorder-guide {
	display: inline-block;
	height: 2px;
	background: blue;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.slick-selection {
	z-index: 10;
	position: absolute;
	border: 2px dashed black;
}

.slick-column-icon {
	margin-right: 0.5em;
	width: 1em;
}

.slick-header-column.ui-state-default.slick-header-with-icon {
	display: flex;
}

.slick-header-with-icon .slick-column-name {
	width: calc(100% - 1em);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
